ipykernel
pandas
scikit-learn==1.8.0
streamlit
langchain
langchain-community
langchain-openai
langchain-text-splitters
faiss-cpu
pymupdf
pypdf
python-dotenv
pydantic
#chromadb
sentence-transformers
langchain-huggingface
langchain-ollama
langgraph
langchain
langchain-openai
streamlit
python-dotenv
pydantic
ipykernel
pandas
scikit-learn==1.8.0
streamlit
langchain
langchain-community
langchain-openai
langchain-text-splitters
zstandard>=0.23.0



